# requirements.txt contains dependencies needed to develop `sdep`, but
# dependencies needed for actually running `sdep` should be specified in
# `setup.py`.

pylint>=1.0
nose2<=1.0
mock==2.0.0
sphinx>=1.0
sphinx-autobuild<=1.0
sphinxcontrib-napoleon<=1.0
